@model IEnumerable<Employee_Management_System.Models.PerformanceReview>

@{
    ViewData["Title"] = "Index";
}

<h4>Performance Review List</h4>
<hr />

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create</a>
    <a class="btn btn-outline-secondary" asp-action="GetAvgPerformanceScorePerDepartment">Avg. Performance Score</a>
</p>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>ReviewDate</th>
            <th>ReviewScore</th>
            <th>ReviewNote</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @foreach (var i in ViewBag.Employee)
                {
                    if (i.ID == item.EmployeeID)
                    {
                        <td>@i.Name</td>
                        break;
                    }
                }
                <td>@item.ReviewDate</td>
                <td>@item.ReviewScore</td>               
                <td>@item.ReviewNotes</td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.ID }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new
                        {
                            @class = "btn btn-outline-danger",
                            onclick = "return confirm('Are you sure?');"
                        })
                </td>
            </tr>
        }
    </tbody>
</table>
